$body-color: #0C1226;
$orange-color: #FC8C40;
$green-color: #207953;

$text-main: #FFF;
$text-opacity: rgba(255, 255, 255, .8);

$main-btn: linear-gradient(270.00deg, rgb(32, 121, 83) 0.002%,rgb(231, 138, 65) 61.18%,rgb(255, 140, 63) 99.998%);
$secondary-btn: #0C1226;

